@using Do_An_Web.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header Start -->
<div class="container-fluid page-header wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="display-3 mb-3 animated slideInDown">Blog Grid</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="text-body" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-body" href="#">Pages</a></li>
                <li class="breadcrumb-item text-dark active" aria-current="page">Blog Grid</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Blog Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-5 mb-3">Bài viết</h1>
        </div>
        <div class="row g-4">
            @{ int e = 0;
                foreach (BaiViet i in Common.GetBaiViet(20))
                {
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <img class="img-fluid" src="@i.hinhDD" alt="">
                        <div class="bg-light p-4">
                            <a class="d-block h5 lh-base mb-4" href="@Url.Action("Index", "InformationBV", new {maBaiViet = i.maBV })">@i.tenBV</a>
                            <p>@i.ndTomTat</p>
                            <div class="text-muted border-top pt-4">
                                <small class="me-3"><i class="fa fa-user text-primary me-2"></i>Admin</small>
                                <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>@i.ngayDang</small>
                            </div>
                        </div>
                    </div>
                    if (e++ >= 20) 
                    {
                        break;
                    }
                }
            }

        </div>
    </div>
</div>
<!-- Blog End -->
