@model Do_An_Web.Models.BaiViet
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Đăng Bài Viết
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Dashboard")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Đăng bài viết</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    @using (Html.BeginForm("Index", "DangBaiViet", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="row">
            <!-- left column -->
            <div class="col-md-7">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Sản Phẩm Cần Đăng</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Tên Sản Phẩm</label>
                            @Html.TextBoxFor(m => m.tenBV, new { @class = "form-control", @placeholder = "Ten cua bai viet" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Mô tả tóm tắt</label>
                            @Html.TextAreaFor(m => m.ndTomTat, new { @class = "form-control", @row = "5", @placeholder = "Note", @style = "padding:2% 0% 20% 2%" })

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Ngày Đăng</label>
                                    @Html.TextBoxFor(m => m.ngayDang, new { @class = "form-control", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Tài khoản</label>
                                    @Html.TextBoxFor(m => m.taiKhoan, new { @class = "form-control", @disabled = "disabled" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Số lần đọc</label>
                                    @Html.TextBoxFor(m => m.soLanDoc, new { @class = "form-control", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputFile">Kiểm duyệt bài viết</label>

                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Đã kiểm duyệt
                            </label>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- right column -->
            <div class="col-md-5">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Hình ảnh sản phẩm</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="form-group">
                            <img style="width:100%" src="@ViewBag.ddhinh" />
                        </div>

                        <div class="form-group">
                            <label for="exampleInputFile">File name</label>
                            <input type="file" name="hinhDaiDien">
                            
                        </div>
                    </div>
                    <!-- /.box-body -->

                </div>

            </div>
            <!--/.col (right) -->
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            Nội Dung Bài Viết
                        </h3>
                        <!-- tools box -->
                        <!-- /. tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body pad">
                        @Html.TextAreaFor(m => m.noiDung, new { @class = "textarea", @placeholder = "Place some text here", @id = "VungSoanThao", @style = "width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" })
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Đăng Bài</button>
                </div>
            </div>
        </div>
        <!-- /.row -->
    }
</section>
@*<script src="https://cdn.tiny.cloud/1/50axto3mi4vfj6s4xrlnxmss1fm1mhovak0ncxz4mshi7cw7/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: 'textarea#VungSoanThao',
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        mergetags_list: [
            { value: 'First.Name', title: 'First Name' },
            { value: 'Email', title: 'Email' },
        ]
    });
</script>*@

