@using Do_An_Web.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    BaiViet i = ViewData["SpCanXem"] as BaiViet;
}

<!-- Page Header Start -->
<div class="container-fluid page-header wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="display-3 mb-3 animated slideInDown">Chi Tiết Sản Phẩm</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="text-body" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-body" href="#">Pages</a></li>
                <li class="breadcrumb-item text-dark active" aria-current="page">Blog Grid</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- Blog Start -->
<div class="container-xxl py-6">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid w-100" src="@i.hinhDD" alt="">
            </div>
            <div class="col-md-8">
                <h1>@i.tenBV</h1>
                <h5>********</h5>
                <p>@i.noiDung</p>
            </div>
        </div>
    </div>
</div>

<!-- Blog Start -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-5 mb-3">Bài Viết Liên Quan</h1>
            <p>Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
        </div>
        <div class="row g-4">
            @{
                int b = 1;
                foreach (BaiViet j in Common.GetBaiViet(3))
                {
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <img class="img-fluid" src="@j.hinhDD" alt="">
                        <div class="bg-light p-4">
                            <a class="d-block h5 lh-base mb-4" href="@Url.Action("Index", "InformationBV", new {maBaiViet=j.maBV})">@j.tenBV</a>
                            <div class="text-muted border-top pt-4">
                                <small class="me-3"><i class="fa fa-user text-primary me-2"></i>@j.taiKhoan</small>
                                <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>@string.Format("{0:hh:mm [dd/MM/yyyy]}", j.ngayDang)</small>
                            </div>
                        </div>
                    </div>
                    if (b++ >= 19)
                    {
                        break;
                    }
                }
            }

        </div>

    </div>
</div>
</div>
<!-- Blog End -->
