@using Do_An_Web.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<BaiViet> ds = ViewData["DanhSachBV"] as List<BaiViet>;
}

<style>
    form{
        display: inline;
    }
</style>

<section class="content-header">
    <h1>
        Danh Sách Bài Viết
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Dashboard")"><i class="fa fa-dashboard"></i> Home</a></li>
        
        <li class="Bài viết đã kiểm duyệt"></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Danh sách bài viết</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Mã Bài Viết</th>
                                <th>Tên Bài Viết</th>
                                <th>Ngày đăng</th>
                                <th>Tài Khoản</th>
                                <th>Số lần đọc</th>
                                <th>Lệnh - Công cụ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ 
                                foreach (BaiViet i in ds) 
                                {
                                    <tr>
                                       <td>@i.maBV</td>
                                       <td>@i.tenBV</td>
                                       <td>@string.Format("{0:hh:mm [dd/MM/yyyy]}", i.ngayDang)<td>
                                       <td>@i.TaiKhoan1.hoDem @i.TaiKhoan1.tenTV</td>
                                       <td>@i.soLanDoc</td>
                                       <td>
                                           @using (Html.BeginForm("Active", "DanhSachBaiViet", FormMethod.Post))
                                           {
                                               @*<button class="btn btn-success" title="Cho phép hiện thị bài viết công khai">Duyệt bài</button>*@
                                               <input type="hidden" name="maBaiViet" value="@i.maBV" />
                                               <button class="btn btn-success" title="Cho phép hiện thị bài viết trên các trang công khai">@ViewBag.tdCuaNut</button>
                                           }
                                           <button class="btn btn-default" title="Cho phép sửa bài viết">Sửa nội dung</button>
                                           @using (Html.BeginForm("Delete", "DanhSachBaiViet", FormMethod.Post))
                                           {
                                               <input type="hidden" name="maBaiViet" value="@i.maBV" />
                                               <button class="btn btn-danger" title="Xóa bài viết">Xóa</button>
                                           }

                                       </td>
                                    </tr>
                                }
                            }
                            
                       
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>